table {
    width: 40%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
caption{
    font-size: 14px;
    color: #162532;
}
thead {
    font-size: 14px;
    background-color: #8facc8;
    font-weight: bold;
    color: #fff;
    }
th, td {
    border: 1px solid black;
    padding: 15px;
}
